:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #cacaf3;
    --background-color: #0847ae;
    --foreground-color: #3b3b4f;
    --highlight-color: #40a4f0;
  
    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);
  
    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--app-background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
  }
  
  h1 {
    font-size: 1.125rem;
    line-height: 1.6;
  }
  
  h2 {
    font-size: var(--root-font-size);
  }
  
  ul {
    margin: 0;
  }
  
  .container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
  }
  
  .player,
  .playlist {
    width: 1080px;
    background-color: var(--background-color);
    border: 3px solid var(--foreground-color);
  }
  
  .player {
    height: 750px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  
  .player-bar,
  .playlist-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 100%;
    height: 30px;
    background-color: var(--foreground-color);
  }
  
  .parallel-lines {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    padding: 0 5px;
  }
  
  .parallel-lines > div {
    height: 2px;
    width: 50px;
    min-width: 75px;
    background-color: var(--highlight-color);
  }
  
  .fcc-title,
  .playlist-title {
    color: var(--secondary-color);
    margin: 0 10px;
    font-family: var(--font-headline);
  }
  
  .player-content {
    display: flex;
    background-color: var(--foreground-color);
    width: 100%;
    height: 100%;
    column-gap: 13px;
    align-items: center;
    justify-content: center;

  }
  
  #player-album-art {
    background-color: var(--secondary-color);
    border: 6px solid var(--background-color);
  }
  
  #player-album-art img {
    width: 150px;
    display: block;
  }
  
  .player-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
    padding: 14px;
    background-color: var(--background-color);
    height: 90%;
    width: 90%;
    text-align: center;
  }
  
  .player-display-song-artist {
    height: 80%;
    overflow: scroll;
    font-size: 30px;
  }


  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--highlight-color); /* Color of the handle */
    border-radius: 6px; /* Rounded corners */
  }
  
  .player-buttons svg {
    fill: var(--primary-color);
  }
  
  .playing > svg {
    fill: var(--highlight-color);
  }
  .looping {
    color: var(--highlight-color)
  }
  .player-audio-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    
  }

.player-audio-duration-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
}

.player-audio-duration-field {
    background-color: var(--highlight-color);
    height: 4px;           /* Make it more visible */
    width: 80%;            /* This will be overridden by JS */
    min-width: 0;
    max-width: 100%;
    transition: width 0.2s;
    border-radius: 2px;
    cursor: pointer;
    align-self: flex-start;
}

  .audio-adjuster {
    border-radius: 100%;
    background-color: var(--foreground-color);
    height: 20px;
    width: 25px;
    font-size: .8em;
    cursor: pointer;
  }


  .player-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    background: transparent;
    border: none;
    color: var(--primary-color);
    opacity: .7;
    cursor: pointer;
    font-size: var(--root-font-size);
    outline-color: var(--highlight-color);
    text-align: center;
  }

  button:hover {
    opacity: 1;
  }

  .loop {
    font-size: 1.5em;
  }
  
  .playlist-song {
    outline-color: var(--highlight-color);
  }
  
  .playlist li:not(:last-child) {
    border-bottom: 1px solid var(--background-color);
  }
  
  button:focus,
  .playlist-song:focus {
    outline-style: dashed;
    outline-width: 2px;
  }
  
  /* Playlist */
  .playlist {
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  
  #playlist-songs {
    width: 100%;
    height: 100%;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px 9px;
    visibility: visible;
    justify-content: start;
    list-style: none;
  }
  
  .playlist-song {
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  [aria-current="true"] {
    background-color: var(--background-color);
  }
  
  [aria-current="true"] p {
    color: var(--highlight-color);
  }
  
  .playlist-song-info {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 7px;
    padding: 5px 0;
    font-family: var(--font-family);
  }
  
  #player-song-title,
  #player-song-artist {
    margin: 0;
  }
  
  #player-song-artist {
    color: var(--highlight-color);
    font-size: 0.75rem;
  }
  
  #player-song-title {
    font-size: 1.125rem;
  }
  
  .playlist-song-title {
    font-size: 0.85rem;
    width: 241px;
    text-align: left;
  }
  
  .playlist-song-artist {
    font-size: 0.725rem;
    width: 80px;
  }
  
  .playlist-song-duration {
    font-size: 0.725rem;
    margin: auto;
    font-family: var(--font-headline);
    width: 30px;
  }
  
  .playlist-song-delete {
    padding: 0;
    width: 20px;
    height: 20px;
  }
  
  .playlist-song-delete,
  .playlist-song-delete {
    fill: var(--foreground-color);
  }
  
  .playlist-song-delete:hover circle,
  .playlist-song-delete:focus circle {
    fill: #ff0000;
  }
  
.source, .source > a {
  font-size: 12px;
  color: var(--foreground-color);
  text-decoration: none;
}


/* media */
  @media (max-width: 700px) {
    .player,
    .playlist {
      width: 90%;
    }
  
    .player {
      height: 500px;
    }
  
    #playlist-songs {
      height: 280px;
      padding: 5px 6px;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-color: var(--background-color) var(--secondary-color);
      scrollbar-width: thin;
    }
  
    #playlist-songs::-webkit-scrollbar {
      width: 5px;
    }
  
    #playlist-songs::-webkit-scrollbar-track {
      background: var(--background-color);
    }
  
    #playlist-songs::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
    }
  
    h1 {
      font-size: 0.813rem;
    }
  
    h2 {
      font-size: 0.75rem;
    }
  
    .player-bar,
    .playlist-bar,
    .player-content,
    #playlist-songs {
      width: 100%;
    }
  
    .playlist-song {
      justify-content: space-between;
    }
  
    .playlist-song-title {
      width: 140px;
    }
  
    .playlist-song-artist {
      width: 40px;
      height: 50%;
    }
  
    .playlist-song-duration > button {
      padding: 0;
    }
  
    .player-content {
      display: inline;
      position: relative;
      justify-items: center;
      height: 100%;
    }
  
    #player-album-art {
      z-index: -100;
      height: 280px;
      box-shadow: none;
      background: #000;
    }
  
    #player-album-art img {
      width: 100%;
      opacity: 0.6;
    }
  
    .player-display-song-artist {
      padding: 0;
      margin: 0;
      font-size: 15px;
    }
  
    .player-display-song-artist > p {
      white-space: pre-wrap;
      font-size: 15px;
      padding: 0;
      margin: 0;
    }
  
    .player-display {
      position: absolute;
      width: 100%;
      z-index: 1000;
      background-color: transparent;
      top: 0;
      height: 100%;
      justify-content: space-between;
      text-align: center;
    }
  }
